<div class="accordion-menu">
  <ul class="accordion-menu__ul m-0 p-0"></ul>
</div>
<li class="accordion-menu__collapse card">
  <div class="accordion-menu__item-heading card-heading collapsed" data-toggle="collapse" aria-expanded="false">
    <div class="accordion-menu__category-link">
      <div class="user-select-none accordion-menu__icon"><i class="fa"></i></div>
      <div class="user-select-none accordion-menu__name"></div>
    </div>
  </div>
  <div class="accordion-menu__container collapse">
    <ul class="accordion-menu__content card-body"></ul>
  </div>
</li>
<li class="accordion-menu__item">
  <a class="accordion-menu__link">
    <div class="user-select-none accordion-menu__icon"><i class="fa"></i></div>
    <div class="user-select-none accordion-menu__name"></div>
  </a>
</li>
