<div class="menu-material menu-material_center">
  <div class="menu-material__heading">
    <span class="h1"></span></div>
  <div class="menu-material__wrapper">
    <div class="menu-material__container">
      <div class="menu-material__content">

      </div>
    </div>
  </div>
  <div class="menu-material__bottom-btn">
    <a class="h2 text-decoration-none"></a>
  </div>
</div>
<span class="menu-material-media">
  <img class="menu-material-media__media-img">
  <span class="menu-material-media__media-body">
    <span class="menu-material-media__media-heading">
      <span class="menu-material-media__name"></span>
      <span class="menu-material-media__date"></span>
    </span>
    <span class="menu-material-media__media-content"></span>
  </span>
</span>
<ul class="nav nav-tabs tabs-material-nav" id="myTAB" role="tablist">
  <li class="nav-item tabs-material-nav__item">
    <a class="nav-link tabs-material-nav__link"
       data-toggle="tab" role="tab"></a></li>
</ul>
<div class="tab-content tabs-material-content">
  <div class="tab-pane fade" role="tabpanel"></div>
</div>
